
<!DOCTYPE html>
<html>
  <link href="/public/stylesheets/style.css" rel="stylesheet">
 <%- include('./partials/nav') %> 
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Flights</p>
    <div>
      <a href="./flights">Click Here</a>
    </div>
  </body>
</html>
