
<!DOCTYPE html>
<html>
 <%- include('./partials/header') %> 
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Flights</p>
    <div>
      <a href="./flights">Click Here</a>
    </div>
  </body>
</html>

<%- include('./partials/footer') %> 