<%- include('../partials/nav') %>
</head>
<body>
    <p>Check if your new destination already exists
    <select>
      <% destinations.forEach(function(d) { %>
        <option><%= d.destination %></option>
      <%}) %>
    </select>
      </p>
      <form action="/destinations" method="POST">
        <label>Airport:</label>
        <input type="text" name="destination">
        <input type="submit" value="Add New Destination!">
      </form>
      <% destinations.forEach(function(d) { %>
        <ul>
          <li><%= d.destination%> </li>
        </ul>  
      <% }) %>